<h2>Manage your account settings</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: "Email" %>
  </div>
  <br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: "New password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder: "Re-enter new password" %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, class: 'form-control', autocomplete: "off", placeholder: "Current password" %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
  <br/>
<% end %>
<% if current_user.premium? %>
<%= link_to "Upgrade my account", new_charge_url, class: "btn btn-success" %> <br />
<% else %>
<%= button_to "Cancel premium features", user_demote_path(resource_name), method: :demote, class: "btn btn-danger" %> <br />
<% end %>
<br/>
<%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
